<div class="container">
  <br>
  <br>

  <div class="frame">
    <h2><img src="images/logo.png" style="width: 25%; height: 25%"><br>The Weather Where We Are </h2>

    <div class="search_form">
    <form action="/" method="post">
      Which city are you in?<input type="text" name="city" id="dotted"><br>
      Which city am I in?<input type="text" name="second_city" id="dotted">
      <br>
      <input type="submit" value="Get current weather" class="search-button">
    </form>

    <p>
    <% if defined?(@city_a) && defined?(@city_b) %>
      <% if @city_a == '' && @city_b == '' %>
        Where on Earth are we? Enter our current cities.
      <% else %>
        Where you are: <br>
        <b><%= @a_full_address %></b><br>
         <img src="<%= @img_a %>"><br>
        <%= @a_summary %><br>
        Temperature: <%= @a_temp %>&#176 F<br><br>
        Where I am: <br>
          <b><%= @b_full_address %></b><br>
        <img src="<%= @img_b %>"><br>
        <%= @b_summary %><br>
        Temperature: <%= @b_temp %>&#176 F
        <br>
        <p>We're only <%= @distance %> miles apart!</p>
      <% end %>
    <% end %>
    </p>

    <div class="credits">
    <p>
      Made possible with APIs from <a href="https://developer.forecast.io/">Forecast</a> and <a href="https://www.flickr.com/services/api/">Flickr</a>. The photos displayed under each city are selected at random from Flickr photos tagged with that city's name. Relevance not guaranteed.<br><br>
    'Weather' was designed by <a href="http://www.thenounproject.com/yngyngm">yng</a> from the <a href="http://www.thenounproject.com">Noun Project.</a>
    </p>
    <p><a href="mailto:kari.anne.mah@gmail.com">c/o Kari Mah</a></p>
    </div>
    </div>
    </div>

  <br>
  <br>
</div>