.container {max-width: 800px; margin: 0 auto;border: 5px #b88bb2 solid;}

body {font-family: Libre Baskerville, Baskerville, Georgia, serif; font-size: 18px; background: #fff; color: #333; margin: 0px; padding: 20px 20px 20px 20px; }

h2, h4, p {
    text-align: center;
}

.frame {
    margin: 0 auto;
    width: 80%;
    border-left: 5px #b88bb2 solid;
    border-right: 5px #b88bb2 solid;
    padding-left: 1em;
    padding-right: 1em;

}

.search_form {
    display:inline-block;
    padding-left: 8em;
    padding-right: 8em;
}

.credits {
    font-size: 14px;
}
a, a {color: #333; text-decoration: none; padding-bottom: 0px; border-bottom: 2px #b88bb2 solid;}
p a:visted {color: #ff00ff;}
a:hover {color: #b88bb2;}
a:active {color: #b88bb2;}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #b88bb2;
    margin: 1em 0; padding: 0; }

input {
    margin:5px;
    font-size: 18px;
    font-family: Libre Baskerville, Baskerville, Georgia, serif;
    text-align: center;
}

#dotted
{
    width: 40%;
    border:0;
    border-bottom: 2px dotted;
}

.search-button {
    position: relative;
    vertical-align: top;
    width: 50%;
    height: 22px;
    padding: 0;
    font-size: 18px;
    color: black;
    text-align: center;
    background: #b88bb2;
    border: 0;
    border-bottom: 2px solid #b88bb2;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b88bb2;
    box-shadow: inset 0 -2px #b88bb2;
}
.search-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}